@import '../../shared/styles/_variables.scss';

header {
    height: 95px;
    background: $primary_background ;
    padding: 18px 0;

    @media screen and (max-width:1440px) {
        height: 70px;
    }

    @media screen and (max-width:576px) {
        height: 50px;
        padding: 10px 0;
    }

    .container {
        height: 100%;
        width: 1170px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width:1440px) {
            width: 80%;
        }

        @media screen and (max-width:998px) {
            width: 90%;
        }

        .logoWrapper {
            height: 100%;
            width: 242px;

            img {
                width: 100%;
                height: 100%;
            }

            @media screen and (max-width:1440px) {
                width: 180px;
            }

            @media screen and (max-width:998px) {
                width: 160px;
            }
        }

        .navWrapper {
            height: inherit;
            display: flex;
            align-items: center;

            nav {
                height: 100%;

                ul {
                    height: 100%;
                    list-style: none;
                    display: flex;
                    align-items: center;

                    li {
                        color: #ffffff;
                        margin: 0 30px 0 0;
                        font-size: 16px;
                        font-family: $montserrat_600;
                        cursor: pointer;

                        @media screen and (max-width:1440px) {
                            font-size: 14px;
                            margin: 1vw;
                        }
                    }


                }
            }

            .orderButton {
                border: none;
                outline: none;
                height: 38px;
                width: 170px;
                border-radius: 5px;
                background: #75E169;
                font-size: 15px;
                font-family: $montserrat_700;
                color: #ffffff;
                text-transform: uppercase;

                &:hover {
                    border: 2px solid #FFFFFF;
                }

                &:active {
                    background: #FFFFFF;
                    color: $primary_background;
                }

                @media screen and (max-width:1440px) {
                    width: 140px;
                    height: 30px;
                }

                @media screen and (max-width:998px) {
                    width: 120px;
                    height: 30px;
                }
            }

            @media screen and (max-width:768px) {
                display: none;
            }
        }

        .navButton {
            display: none;

            span {
                display: inline-block;
                width: 13px;
                height: 13px;
                border-radius: 50px;
                background: #FFFFFF;
                margin: 0 5px 0 0;
            }

            @media screen and (max-width:768px) {
                display: block;
            }
        }
    }

}

.burgerNav {
    background: $primary_background;
    height: 0;
    overflow: hidden;

    ul {
        margin: 42px 0 49px;
        list-style: none;
        display: flex;
        align-items: center;
        flex-direction: column;

        li {
            font-size: 17px;
            font-family: $montserrat_800;
            display: inline-block;
            line-height: 27px;
            margin: 0 0 30px;
            color: #FFFFFF;

            &:hover {
                border-bottom: 2px solid #ffffff;
            }
        }

    }

    transition: height 0.6s ease-out;
}

.activeNav {
    height: 330px;
    transition: height 0.6s ease-in;
}