<section>
    <div class="container">
        <div class="circle">
            <img src="assets/images/45689b777663c6133df9455ad4c6ec97.png">
        </div>
        <h1>Этапы разработки интернет-магазина</h1>
        <div class="wrapper">
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                    <div class="slidesItem">
                        <div class="textWrapper">
                            <h1>1. Анализ</h1>
                            <p>Для того, чтобы <br> онлайн-магазин приносил выгоду, перед его запуском необходимо
                                провести
                                анализ
                                других предложений рынка, оценить конкурентов и найти наиболее удобное решение. </p>
                        </div>
                        <div class="imageWrapper image" style="margin-top: 0;">
                            <img src="assets/images/Top-Right 1.png">
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="slidesItem">
                        <div class="textWrapper">
                            <h1>2. Визуальное решение</h1>
                            <p>Разработка дизайна ключевых страниц магазина – главная, каталог, информационные разделы,
                                раздел
                                корзины, товаров. Для нас главное – передать настроение бренда, сделать удобный для
                                пользователя
                                сайт. </p>
                        </div>
                        <div class="imageWrapper">
                            <img src="assets/images/cake.214.png" class="cake">
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="slidesItem">
                        <div class="textWrapper">
                            <h1>3. Техническая реализация</h1>
                            <p>После утверждения дизайн-макета наступает следующий этап – верстка. Это трудоемкий
                                процесс:
                                программисты должны все тщательно прописать, чтобы не допустить технических ошибок. </p>
                        </div>
                        <div class="imageWrapper">
                            <img src="assets/images/Scan Barcode.png" class="image_2">
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="slidesItem">
                        <div class="textWrapper">
                            <h1>4. Наполнение контентом </h1>
                            <p>Создание и публикация текстов, а также видео материала. Хороший контент и качественные
                                фотографии
                                привлекают больше посетителей и помогают клиенту лучше ознакомиться с ассортиментом.
                            </p>
                        </div>
                        <div class="imageWrapper">
                            <img src="assets/images/Group 176.png" class="image_2">
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="slidesItem">
                        <div class="textWrapper">
                            <h1>5. Тестирование</h1>
                            <p>Составление плана тестирования для определения ошибок. Проверка работы сайта и
                                визуального
                                восприятия для улучшения сайта. Также используются чек-листы для четкого определения
                                ошибок
                                и их
                                устранения.</p>
                        </div>
                        <div class="imageWrapper">
                            <img src="assets/images/Group 177.png" class="image_2">
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
        <div class="wave">
            <img src="/assets/images/shape wave.257 copy.png">
        </div>
    </div>
</section>