<app-header></app-header>
<main>
  <section class="Layer_1">
    <div class="container">
      <div class="elips_1"></div>
      <div class="elips_2"></div>
      <div class="textWrapper">
        <div class="text">
          <h1>Разработка <br> интернет-магазина
            с нуля за неделю</h1>
          <p>
            Дизайн интернет магазина, элементов микро UX, корзин, личного кабинета - от фирменного стиля
            до пользовательского интерфейса в сжатые сроки
            с командой Virtual Designers
          </p>
          <button>Заказать</button>
        </div>
        <div class="img_wrapper">
          <img src="assets/images/shape sphere.267.png" class="circle">
          <img src="assets/images/shape  cylinder.275.png" class="cylinder">
          <img src="assets/images/Cart.png" class="basket">
          <img src="assets/images/Layer 9 copy 3.png" class="wave">
          <img src="assets/images/ill.png" class="background_sm">
          <img src="assets/images/shape sphere.264.png" class="circle_sm">
        </div>
      </div>
    </div>
  </section>
  <section class="Layer_2">
    <div class="container">
      <h1>Что входит в услугу по созданию дизайна интернет-магазина?</h1>
      <div class="card_wrapper">
        <ul>
          <li class="item_card">
            <div class="title_wrapper">
              <div class="title">
                <div class="circle"></div>
                <span>Дизайн портала </span>
              </div>
              <div class="chevron_wrapper" (click)="activateCard($event)">
              </div>
            </div>
            <div class="text_wrapper">
              <p>
                Дизайн портала — это оформление контента, совокупность всех графических элементов на <br>
                веб-странице.Основная задача дизайна — познакомить пользователя со страницей. Продуманный дизайн создает
                нужное впечатление о компании.</p>
            </div>
          </li>
          <li class="item_card">
            <div class="title_wrapper">
              <div class="title">
                <div class="circle"></div>
                <span>Дизайн адаптивной мобильной версии </span>
              </div>
              <div class="chevron_wrapper" (click)="activateCard($event)">
              </div>
            </div>
            <div class="text_wrapper">
              <p class="text">Мобильная версия сайта удобна для пользователя, потому что сильно упрощена по сравнению с
                обычной
                версией. Мобильная версия дает наиболее приоритетную информацию, а также позволяет совершать
                заказ/покупку
                с минимумом действий.
              </p>
              <p class="text text_sm_none">При адаптивной версии вся структура сайта автоматически подстраивается под
                различную
                ширину
                экрана.
                Для того, чтобы получить рабочий продукт не нужно писать все с нуля — достаточно лишь подправить CSS и
                HTML.
              </p>
              <p class="text_sm_none">Один URL избавляет нас от ненужных редиректов, и надобности пользователю
                запоминать адрес мобильной
                версии.
              </p>
            </div>
          </li>
          <li class="item_card">
            <div class="title_wrapper">
              <div class="title">
                <div class="circle"></div>
                <span>Дизайн десктопной версии</span>
              </div>
              <div class="chevron_wrapper" (click)="activateCard($event)">
              </div>
            </div>
            <div class="text_wrapper">
              <p class="text">Десктопную версию сайта просматривают пользователи со стационарных компьютеров. Основная
                цель: посерфить, углубиться в детали, получить больше информации, сравнить, выбрать, прицениться.

              </p>
            </div>
          </li>
          <li class="item_card">
            <div class="title_wrapper">
              <div class="title">
                <div class="circle"></div>
                <span>Пользовательский интерфейс</span>
              </div>
              <div class="chevron_wrapper" (click)="activateCard($event)">
              </div>
            </div>
            <div class="text_wrapper">
              <p class="text">Цель дизайна пользовательского интерфейса - сделать взаимодействие максимально простым и
                эффективным, насколько это возможно, с точки зрения достижения целей пользователя. Хороший дизайн
                пользовательского интерфейса облегчает выполнение поставленной задачи, не привлекая к себе лишнего
                внимания.</p>
            </div>
          </li>
          <li class="item_card">
            <div class="title_wrapper">
              <div class="title">
                <div class="circle"></div>
                <span>Микро UX</span>
              </div>
              <div class="chevron_wrapper" (click)="activateCard($event)">
              </div>
            </div>
            <div class="text_wrapper">
              <p class="text">Микро-анимация может изменить восприятие продукта, пользовательское поведение и повысить
                конверсию. Небольшие, преимущественно функциональные анимации поддерживают пользователя: обеспечивают
                визуальную обратную связь и более понятно отражают происходящие изменения.<span class="text_sm_none">
                  Микро-анимации способны
                  многое
                  объяснить без слов.
                </span>
              </p>
            </div>
          </li>
        </ul>
      </div>
      <img src="assets/images/dde106104104ce9dc763577b114b9bd6.png" class="bag">
    </div>
  </section>
  <app-slider></app-slider>
  <section class="Layer_3">
    <div class="container">
      <h1>Примеры онлайн-магазинов</h1>
      <div class="projectsWrapper display_sm_none">
        <div class="projectsItemWrapper">
          <img src="assets/images/two-miniature-green-blue-shopping-cart-yellow-background 1.png">
          <div class="mask">
            <span class="title">Онлайн-магазин</span>
            <span class="title_1">для оптовых покупок</span>
          </div>
        </div>
        <div class="projectsItemWrapper">
          <img src="assets/images/baby-s-breath-flower-bottom-purple-backdrop.png">
          <div class="mask">
            <span class="title">Онлайн-магазин</span>
            <span class="title_1">для флористов</span>
          </div>
        </div>
        <div class="projectsItemWrapper">
          <img src="assets/images/close-up-of-hair-dryer-and-brush 1.png">
          <div class="mask">
            <span class="title">Онлайн-магазин</span>
            <span class="title_1">для парикмахеров</span>
          </div>
        </div>
        <div class="projectsItemWrapper">
          <img src="assets/images/pexels-shiny-diamond-3373739.png">
          <div class="mask">
            <span class="title">Онлайн-магазин</span>
            <span class="title_1">для визажистов</span>
          </div>
        </div>
        <div class="projectsItemWrapper">
          <img src="assets/images/deva-williamson-ygTzbTHgDnY-unsplash.png">
          <div class="mask">
            <span class="title">Онлайн-магазин</span>
            <span class="title_1">для кондитеров</span>
          </div>
        </div>
        <div class="projectsItemWrapper">
          <img src="assets/images/color-palette-catalogue-scheme-roller 1.png">
          <div class="mask">
            <span class="title">Онлайн-магазин</span>
            <span class="title_1">для художников</span>
          </div>
        </div>
      </div>
      <div class="projectsWrapper display_sm_block">

        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide>
            <div class="wrapper">
              <div class="projectsItemWrapper">
                <img src="assets/images/two-miniature-green-blue-shopping-cart-yellow-background 1.png">
                <div class="mask">
                  <span class="title">Онлайн-магазин</span>
                  <span class="title_1">для оптовых покупок</span>
                </div>
              </div>
              <div class="projectsItemWrapper">
                <img src="assets/images/baby-s-breath-flower-bottom-purple-backdrop.png">
                <div class="mask">
                  <span class="title">Онлайн-магазин</span>
                  <span class="title_1">для флористов</span>
                </div>
              </div>
              <div class="projectsItemWrapper">
                <img src="assets/images/close-up-of-hair-dryer-and-brush 1.png">
                <div class="mask">
                  <span class="title">Онлайн-магазин</span>
                  <span class="title_1">для парикмахеров</span>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>

            <div class="projectsItemWrapper">
              <img src="assets/images/pexels-shiny-diamond-3373739.png">
              <div class="mask">
                <span class="title">Онлайн-магазин</span>
                <span class="title_1">для визажистов</span>
              </div>
            </div>
            <div class="projectsItemWrapper">
              <img src="assets/images/deva-williamson-ygTzbTHgDnY-unsplash.png">
              <div class="mask">
                <span class="title">Онлайн-магазин</span>
                <span class="title_1">для кондитеров</span>
              </div>
            </div>
            <div class="projectsItemWrapper">
              <img src="assets/images/color-palette-catalogue-scheme-roller 1.png">
              <div class="mask">
                <span class="title">Онлайн-магазин</span>
                <span class="title_1">для художников</span>
              </div>
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
      <img class="wave" src="assets/images/shape wave.242.png">
      <img class="circle" src="assets/images/shape sphere.269.png">
    </div>
  </section>
  <section class="Layer_4">
    <div class="container">
      <div class="textWrapper">
        <h1>Необходимо больше информации?</h1>
        <img class="image_md" src="assets/images/Orders.png">
        <p>Если Вы владелец онлайн-магазина или только начинаете свой путь в электронной коммерции и вам нужен
          уникальный
          дизайн онлайн магазина для стартапа, обратитесь к нашему веб дизайнеру. За выгодную цену и короткий период
          времени, он поможет визуализировать ваш веб проект.</p>
        <button>Оставить заявку</button>
      </div>
      <img class="order" src="assets/images/Orders.png">
      <img src="assets/images/shape sphere.267.png" class="circle" />
    </div>
  </section>
  <section class="Layer_5">
    <div class="container">
      <div class="wrapper">
        <img src="assets/images/phone call.243.png" class="phone">
        <img src="assets/images/shape sphere.269.png" class="circle">
        <img src="assets/images/shape wave.258.png" class="wave">
        <div class="formWrapper">
          <h1>Обсудить проект</h1>
          <p>Расскажите о своих бизнес-целях и мы поможем вам в их достижении</p>
          <form (change)="changeForm()">
            <input type="text" placeholder="Имя" [(ngModel)]="name" [ngModelOptions]="{standalone: true}" name="name">
            <input type="text" placeholder="Telegram/Viber" [(ngModel)]="phone" [ngModelOptions]="{standalone: true}"
              name="phone">
            <input type="text" placeholder="Email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}"
              name="email">
          </form>
          <button>Отправить</button>
        </div>
        <img src="assets/images/Postpaid.png" class="phone_md">
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>