//Color 

$primary_background : #67AEFC;

// Fonts


$montserrat_400 : Montserrat-Regular,
sans-serif;
$montserrat_600 : Montserrat-SemiBold,
sans-serif;
$montserrat_700 : Montserrat-Bold,
sans-serif;
$montserrat_800 : Montserrat-ExtraBold,
sans-serif;
$montserrat_900 : Montserrat-Black,
sans-serif;